# Node modules
node_modules/

*.sqlite3

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/
tmp/
temp/

# Coverage reports
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

# Mac system files
*.swp

test

tests/node_modules/
tests/package-lock.json
tests/**/*.js
tests/*.js
tests/*cjs