




.loggin-wrapper {
  width: 420px;
}

.loggin-wrapper .forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.forgot a {
  color: #fff;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}

.button {
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.loggin-wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  

  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.button:active {
  transform: scale(0.95);
  background-color: #bdbdbd;
}

.loggin-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
