.twofa-wrapper {
  width: 420px;
  display: flex;
  flex-direction: column;
}

.twofa-wrapper form {
  display: flex;
  flex-direction: column;
}

.twofa-wrapper .button {
  align-self: center;
  width: 50%;
  height: 45px;
  background-color: #fff;

  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.button:active {
  background-color: #bdbdbd;
}

/* Input */

#otp-container {
  margin: 20px 0;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.otp-input {
  width: 38px;
  height: 38px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  caret-color: transparent;

  border: 2px solid #333;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.otp-input:focus {
  border-color: #fff;
  box-shadow: 0 0 0 3px rgb(0, 85, 150);
}



/* Optional: Placeholder color for better UX */
.otp-input::placeholder {
  color: #bbb;
  opacity: 1;
}