header.content {
  width: 100%;
  height: 60px;
  padding: 8px 24px;
  position: fixed;
  z-index: 1000;
  background: rgba(20, 20, 20, 0.6);
  display: flex;
  border-radius: 0%;
}

header a {
  color: #eee;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, transform 0.2s ease;
}

header a:hover {
  color: #fca17d;
  transform: scale(1.05);
}

.logo {
  margin-right: 24px;
  height: 40px;
  width: auto;
}

.site-title {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.right {
  justify-content: flex-end;
  flex: 1;
}

nav a {
  font-size: 16px;
  position: relative;
  font-weight: 700;
  transition: color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #fca17d;
  border-radius: 2px;
  transition: width 0.3s ease;
}

nav a.active::after {
  width: 100%;
}


.profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 4px #333;
}

.settings img,
.logout img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

#logout {
  all:unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings:hover img,
.logout:hover img {
  transform: scale(1.3);
}

.language-selector button {
  background: none;
  border: none;
  cursor: pointer;
}

.language-selector button img {
  border-radius: 15%;
  overflow: hidden;
}

.language-selector {
  position: relative;
  display: inline-block; /* todo */
}


.lang-options {
  position: absolute;
  left: 0%;
  top: 100%;
  width: 40px;

  border-radius: 6px;
  
  background-color: #193a61;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px #333;
}


